################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Server/Main/Source/.vs/StampieAppServer/v15/Server/sqlite3
